header {
    width:100%; 
    background-color: #48A1D3;
}

.header-with-wallpaper {
    width:100%; 
    height: 800px;
    background-image: url('../images/web-03.png');
    background-repeat: no-repeat;
    background-position: 25% bottom;
    background-size: 30%;
}

.header-without-wallpaper {
    width:100%; 
    height: 250px;
}

#header-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1100px;
    /*min-width: 1100px;*/
    margin-top: 10px;
    height: 500px;
    text-align: center;
    padding-top: 25px;
}

#header-content-title {
    font-family: 'IBM Plex Sans', serif;
    font-size: 45px;
    padding-top: 65px;
    padding-right: 20px;
    color: black;
    height: 70px;
    margin-top: 40px;
    background-image: url('../images/web-02.png');
    background-repeat: no-repeat;
    background-position: 855 15;
    background-size: 22%;
    text-align: right;
}

#header-content-subtitle {
    font-family: 'IBM Plex Sans', serif;
    color: black;
    height: 400px;
    font-size: 45px;
    text-align: right;
    padding-right: 20px;
    background-image: url('../images/web-04.png');
    background-repeat: no-repeat;
    background-position: 650 70;
    background-size: 40%;
}

#header-mobile-menu-icon {
    position: absolute;
    right: 30;
    top: 50;
    background-image: url('../images/cloud-burger-menu-icon.png');
    background-size: contain;
    width: 80px;
    height: 80px;
    display: none;
}

.header-menu-holder {
    width: 100%;
    max-width: 1100px;
    height: 140px;
    margin-left: auto;
    margin-right: auto;
    display: fixed;
    
    background-image: url('../images/web-28.png');
    background-repeat: no-repeat;
    background-position: 50% 100%;
    background-size: 99% 7px;
    background-color: #48A1D3;
}

.header-university-logos-holder {
    width: 100%;
    max-width: 1100px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    display: fixed;
    margin-top: 30px;
}

.header-university-logos {
    height: 48px;
    float: left;
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 30px;
}

.header-blank-logo {
    width: 0px;
}

.header-itmo-logo {
    width: 300px;
    background-image: url('../images/web-itmo-header-logo.png');
}

.header-faculty-logo {
    width: 30px;
    background-image: url('../images/web-faculty-header-logo.png');
}

.header-lab-logo {
    float: left;
    margin-top:20px;
    width: 200px;
    height: 60px;
    
}

.header-lab-logo a {
    font-family: 'IBM Plex Sans Condensed';
    font-size: 50px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    vertical-align: text-bottom;
    padding: 10px 16px 10px 16px;
    margin-top: 10px;
}

#header-menu {
    float: right;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
}

.header-menu-languages {
    display: block;
    height: 45px;
    width: 100%;
    padding-top: 10px;
}

.header-menu-language {
    float: right;
    padding: 10px;
}

.header-menu-language-selected {
    background-image: url('../images/small-frame.png');
    background-position: 30% 10%;
    background-size: contain;
    background-repeat: no-repeat;
}

.header-menu-language a {
    font-family: 'IBM Plex Sans Condensed';
    font-size: 15px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    vertical-align: text-bottom;
    float: right;
}

.header-main-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 30px;
    float: left;
    width: 700px;
    margin-top:5px;
    margin-right: 20px;
}

.header-main-menu-item {
    float: right;
    margin-left: 5px;
    
}

.header-main-menu-item a {
    display: block;
    text-align: right;
    padding: 10px 16px 10px 16px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 15px;
    font-weight: bold;
}

.header-main-menu-item-text {
    font-size: 20px;
    margin-top: 30px;
    font-family: 'IBM Plex Sans', serif;
}

.header-main-menu-lab-name {
    font-family: 'IBM Plex Sans Condensed';
    font-size: 50px;
}

.header-main-menu-item a:hover {
    background-image: url('../images/obvodka.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.header-main-menu-item-selected {
    background-color: #C9DEEF;
    border-radius: 15px;
}

@media only screen and (max-width: 760px) {
      .header-main-menu {
          display: none;
          position: absolute;
          right: 30px;
          top: 100px;
          width: 250px;
          height: auto;
          list-style-type:none;
          padding: 10px;
          border-radius: 20px;
          box-shadow: 4px 6px 20px 2px rgba(0,0,0,0.7);
      }
      
      .header-main-menu-item {
          display: block;
          width: 100%;
      }
      
      .header-main-menu-item a {
          font-size: 25px;
      }
      
      #header-menu-logo {
          margin-left: auto;
          margin-right: auto;
          float: none;
          width: 160px;
          height: 90px;
          margin-top: -20px;
          background-size: contain;
      }
      #header-content {
          background-position: -650px 0px;
      }
      #header-mobile-menu-icon {
        display: block;
    }

    .header-with-wallpaper {
        background-image: unset;
    }

    #header-content-title {
        text-align: unset;
        background-position: 575 15;
    }

    #header-content-subtitle {
        text-align: unset;
        background-position: 330 70;
    }
}

@media only screen and (max-device-width: 760px) {
      .header-main-menu {
          display: none;
          position: absolute;
          right: 30px;
          top: 100px;
          width: 400px;
          height: auto;
          list-style-type:none;
          padding: 10px;
          padding-right: 50px;
          border-radius: 20px;
          background-color: #48A1D3;
          background-image: url('../images/web-08-white.png');
          background-size: cover;
          background-repeat: no-repeat;
          
      }
      
      .header-main-menu-item {
          display: block;
          width: 100%;
      }
      
      .header-main-menu-item a {
          font-size: 45px;
      }
      
      #header-menu-logo {
          margin-left: auto;
          margin-right: auto;
          float: none;
          width: 160px;
          height: 90px;
          margin-top: -20px;
          background-size: contain;
      }
      #header-content {
          background-position: -650px 0px;
      }
      #header-mobile-menu-icon {
        display: block;
    }

    .header-with-wallpaper {
        background-image: unset;
    }

    #header-content-title {
        text-align: unset;
        background-position: 525 30;
    }

    #header-content-subtitle {
        text-align: unset;
        background-position: 330 70;
    }

    .header-menu-language {
        margin-right: 30px;
    }
}