#positions {
    margin-left: auto;
    margin-right: auto;
    max-width: 1100px;
    min-width: 400px;
    background-repeat: no-repeat;
    background-size: contain;
    padding-bottom: 30px;
}

.positions-section-background {
    background-image: url('../images/web-21.png');
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: 25%;
}

#positions-title {
    font-family: 'IBM Plex Sans', serif;
    font-weight: bold;
    color: black;
    font-size: 45px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-image: url('../images/web-12.png');
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 40%;
}

#positions-memo {
    text-align: left;
    font-family: 'IBM Plex Sans', serif;
    color: black;
    font-size: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.positions-projects-holder {
    display: table;
    min-width: 600px;
    max-width: 1100px;
    
    
    
    font-family: 'IBM Plex Sans', serif;
    color: black;
    font-size: 18px;
    
    padding-bottom: 100px;
}

.positions-projects-row {
    display: table-row;
}

.positions-projects-logo-row-cell {
    display: table-cell;    
}

.positions-projects-description {
    display: table-cell;
    padding: 10px;
    width: 200px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.positions-projects-skills {
    display: table-cell;
    padding: 10px;
    width:  250px;
}

.positions-projects-logo {
    width: 150px;
    background-repeat: no-repeat;
    background-size: 100px;
    background-position: left center;
}

.positions-projects-logo-sdcloud {
    background-image: url('../images/web-18.png');
}

.positions-projects-logo-sdlitica {
    background-image: url('../images/web-19.png');
}

.positions-projects-logo-insight {
    background-image: url('../images/web-20.png');
}

.projects-positions-link {
    font-family: 'IBM Plex Sans', serif;
    color: black;
    font-size: 22px;
    margin-top: 20px;
    width: 100%;
    text-align: right;
}

.projects-positions-link a {
    text-decoration: none;
    color: black;
    margin-right: 0px;
    width: 200px;
    
    background-position: right center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('../images/web-arrow-blue.png');
}

@media only screen and (max-width: 760px) {
    #positions {
        padding-bottom: 10px;
    }
    
    #positions-container {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
    }
    
    .positions-container-item-content {        
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-position: left top;
        padding-left: 40px;
        padding-top: 60px;
    }
    
    #positions-container-item {
        display: block;
        width: 80%;
        position: relative;
        margin-left: auto;
        margin-right: auto; 
        margin-bottom: 20px;
    }
    
    .fci-bg-engine p {
        margin-left:20px;
    }

    #positions-memo {
        display: none;
    }

    .projects-positions-link {
        display: none;
    }

    #positions {
        margin-left: auto;
        margin-right: auto;
        width: 80%;
    }

    #positions-title {
        font-family: 'IBM Plex Sans', serif;
        font-weight: bold;
        color: black;
        font-size: 65px;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
        background-size: 50%;
    }

    .positions-projects-holder {
        width: 90%;
        min-width: 550px;
        margin-right: auto;
        margin-left: auto;
    }
}

@media only screen and (max-device-width: 760px) {
    #positions {
        padding-bottom: 10px;
    }
    
    #positions-container {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
    }
    
    #positions-container-item {
        display: block;
        width: 90%;
        position: relative;
        padding-top: 50%;
        margin-left: auto;
        margin-right: auto;
        
    }
    
    .positions-container-item-content {        
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        font-size: 25px;
        background-position: left top;
        padding: 50px;
        padding-top: 120px;
        font-size: 40px;
        width: auto;
        height: auto;
    }
    
    .fci-bg-engine p {
        margin-left:120px;
    }

    #positions-memo {
        display: none;
    }

    .projects-positions-link {
        display: none;
    }

    #positions {
        margin-left: auto;
        margin-right: auto;
        width: 80%;
    }

    #positions-title {
        font-family: 'IBM Plex Sans', serif;
        font-weight: bold;
        color: black;
        font-size: 65px;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
        background-size: 50%;
    }

    .positions-projects-holder {
        width: 90%;
        min-width: 550px;
        margin-right: auto;
        margin-left: auto;
    }
    
}