.od-header-with-wallpaper {
    width:100%; 
    height: 800px;
    background-image: url('../images/lectern.png');
    background-repeat: no-repeat;
    background-position: 25% bottom;
    background-size: 20%;
}

#od-header-content-title {
    font-family: 'IBM Plex Sans', serif;
    font-size: 65px;
    padding-top: 65px;
    padding-right: 20px;
    color: white;
    height: 70px;
    margin-top: 40px;
    padding-right: 120px;
    padding-bottom: 25px;
    background-image: url('../images/web-12.png');
    background-repeat: no-repeat;
    background-position: 695 145;
    background-size: 25%;
    text-align: right;
}

#od-header-content-subtitle {
    font-family: 'IBM Plex Sans', serif;
    color: black;
    height: 400px;
    font-size: 45px;
    text-align: right;
    margin-top: 50px;
    padding-right: 120px;
}

#goals-memo {
    text-align: left;
    font-family: 'IBM Plex Sans', serif;
    color: black;
    font-size: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
}


.next-event {
    width: 80%;
    background-image: url('../images/web-10.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 50px;
}

.next-event-title {
    text-align: center;
    font-family: 'IBM Plex Sans', serif;
    color: black;
    font-size: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 100%;
}

.next-event-table {
    
    margin-left: 50px;
    margin-right: 50px;
    display: table;
    font-family: 'IBM Plex Sans', serif;
    color: black;
    font-size: 20px;
}
.next-event-table-row {
    display: table-row;
}

.next-event-table-row:last-child div {
    border-bottom:0px;
}

.next-event-table-cell-label {
    display: table-cell;
    width: 150px;
    padding-top: 20px;
    padding-bottom: 5px;
    border-bottom: 1px solid #3F88C5;
}
.next-event-table-cell-value {
    display: table-cell;
    font-weight: bold;
    padding-bottom: 5px;
    border-bottom: 1px solid #3F88C5;
}

.sup {
    font-size: .66666em;
    font-weight: bold;
    line-height: 0;
    position: relative;
    vertical-align: super;
  }


.next-event-time-table {
    display: table;
    font-weight: normal;
    font-size: 18px;
}
.next-event-time-table-row {
    display: table-row;
}
.next-event-time-table-cell-zone {
    padding-top: 10px;
    display: table-cell;
    width: 190px;
}
.next-event-time-table-cell-value {
    display: table-cell;
}

.next-event-register {
    text-align: center;
    font-family: 'IBM Plex Sans', serif;
    color: black;
    font-size: 30px;
    padding-top: 30px;
    width: 100%;
}

.next-event-register a {
    text-decoration-style: none;
    color: #3F88C5;
}


.od-topic-icon-cell {
    width: 90px;
    background-size: 50px;
    background-position: center 15px;
    background-repeat: no-repeat;
}

.header-itmo-logo-en {
    width: 300px;
    background-image: url('../images/web-itmo-header-logo-en.png');
}

.topic-icon-cell-check-circle {
    background-image: url('../images/tick.png');
}

.topic-presenter-cell {
    width: 200px;
    text-align: center;
    vertical-align: top;
}

.od-topics-list-row {
    display: table-row;
    margin-bottom: 10px;
}

.od-topics-list-row div {
    border-bottom: 1px solid white;
}

.od-topics-list-row:last-child div {
    border-bottom:0px;
}

.lector-memo {
    font-family: 'IBM Plex Sans', serif;
    font-size: 20px;
}

.participating-universities-background {
    background-image: url('../images/web-26.png'), url('../images/web-03.png');
    background-repeat: no-repeat;
    background-position: right 50%, left bottom;
    background-size: 13%, 22%;
}

.participating-companies-background {
    background-image: url('../images/web-21-flip.png');
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 25%;
}

.participants-logos-holder {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.participants-logos-item {
    width: 240px;
    height: 200px;
    margin: 20px;
    font-family: 'IBM Plex Sans', serif;
    font-size: 25px;
    color: white;
}

.participant {
    width: 100%;
    height: 50%;
}

.participant-name {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid white;
    padding-bottom: 5px;
}

.participant-country {
    width: 100%;
    text-align: center;
}

.itmo-logo {
    background-image: url('../images/itmo-logo.png');
    background-position: center;
    background-repeat: no-repeat;
}

.chitkara-logo {
    background-image: url('../images/chitkara-logo.png');
    background-position: center;
    background-repeat: no-repeat;
}

.unisinos-logo {
    background-image: url('../images/unisinos-logo.png');
    background-position: center;
    background-repeat: no-repeat;
}

.birla-logo {
    background-image: url('../images/birla-logo.png');
    background-position: center;
    background-size: 85%;
    background-repeat: no-repeat;
}


.speacker-poster-container {
    display: table;
    table-layout: fixed;
    width: 100%;
}

.speacker-poster {
    display: table-row;
    width: 100%;
}

.speacker-picture {
    display: table-cell;
    width: 250px;
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;

}

.speacker-ip {
    background-image: url('../images/od/speakers/ip.png');
}

.speacker-js {
    background-image: url('../images/od/speakers/js.png');
}

.speacker-jb {
    background-image: url('../images/od/speakers/jb.png');
}

.speacker-ros {
    background-image: url('../images/od/speakers/ros.png');
}

.speacker-ap {
    background-image: url('../images/od/speakers/ap.png');
}

.speacker-bio {
    display: table-cell;
    padding: 20px;
    font-family: 'IBM Plex Sans', serif;
    font-size: 20px;
}

.speacker-bio a {
    text-decoration: none;
    color: #3F88C5;
}

@media only screen and (max-device-width: 760px), (max-width: 760px) {
    #od-header-content-title {
        background-position: 595 145;
    }

    .lector-memo {
        font-size: 10px;
        margin-bottom: 40px;
    }

    #goals-memo {
        font-size: 12px;
    }

    .speacker-picture {
        background-position-x: center;
        background-position-y: 25px;
    }
}

.od-section:nth-of-type(odd) {
    background-color: white;
    color: black;
    background-image: url('../images/web-21.png');
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: 25%;
}

.od-section:nth-of-type(even) {
    background-color: #48A1D3;
    color: white;
    background-image: url(../images/web-26.png), url(../images/web-27.png);
    background-repeat: no-repeat;
    background-position: right 50%, left bottom;
    background-size: 13%, 22%;
}


.od-past-event-title {
    font-family: 'IBM Plex Sans', serif;
    font-weight: bold;
    color: black;
    font-size: 35px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    background-size: 50%;
    margin-top: 35px;
}

.od-past-event-holder {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.od-past-event-info-card {
    text-align: center;
    justify-content: center;
}

.carousel-controls {
    width: 100%;
    display: fixed;
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
}

.carousel-controls-item {
    width: 30%;
    display: inline-block;
    text-align: center;
    justify-content: center;
    cursor: pointer;
    font-family: 'IBM Plex Sans', serif;
    font-weight: bold;
    font-size: 20px;
}

.days-holder {
    height: 700px;
    overflow: auto;
    
}