.od-header-with-wallpaper {
    width:100%; 
    height: 800px;
    background-image: url('../images/lectern.png');
    background-repeat: no-repeat;
    background-position: 25% bottom;
    background-size: 20%;
    min-width: 1100px;
}

#od-header-content-title {
    font-family: 'IBM Plex Sans', serif;
    font-size: 65px;
    padding-top: 65px;
    padding-right: 20px;
    color: white;
    height: 70px;
    margin-top: 40px;
    padding-right: 120px;
    padding-bottom: 25px;
    background-image: url('../images/web-12.png');
    background-repeat: no-repeat;
    background-position: 695 145;
    background-size: 25%;
    text-align: right;
}

#od-header-content-subtitle {
    font-family: 'IBM Plex Sans', serif;
    color: black;
    height: 400px;
    font-size: 45px;
    text-align: right;
    margin-top: 50px;
    padding-right: 120px;
}

.od-topic-icon-cell {
    width: 90px;
    background-size: 50px;
    background-position: center 15px;
    background-repeat: no-repeat;
}

.header-itmo-logo-en {
    width: 300px;
    background-image: url('../images/web-itmo-header-logo-en.png');
}

.topic-icon-cell-check-circle {
    background-image: url('../images/tick.png');
}

.topic-presenter-cell {
    width: 200px;
    text-align: center;
    vertical-align: top;
}

.od-topics-list-row {
    display: table-row;
    margin-bottom: 10px;
}

.od-topics-list-row div {
    border-bottom: 1px solid white;
}

.lector-memo {
    font-family: 'IBM Plex Sans', serif;
    font-size: 20px;
}

.participating-universities-background {
    background-image: url('../images/web-26.png'), url('../images/web-03.png');
    background-repeat: no-repeat;
    background-position: right 50%, left bottom;
    background-size: 13%, 22%;
}

.participating-companies-background {
    background-image: url('../images/web-21-flip.png');
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 25%;
}

.participants-logos-holder {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.participants-logos-item {
    width: 250px;
    height: 200px;
    margin: 20px;
    font-family: 'IBM Plex Sans', serif;
    font-size: 25px;
    color: white;
}

.participant {
    width: 100%;
    height: 50%;
}

.participant-name {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid white;
    padding-bottom: 5px;
}

.participant-country {
    width: 100%;
    text-align: center;
}

.itmo-logo {
    background-image: url('../images/itmo-logo.png');
    background-position: center;
    background-repeat: no-repeat;
}

.chitkara-logo {
    background-image: url('../images/chitkara-logo.png');
    background-position: center;
    background-repeat: no-repeat;
}

.unisinos-logo {
    background-image: url('../images/unisinos-logo.png');
    background-position: center;
    background-repeat: no-repeat;
}